# Ignore output and test image directories
test_images/
results/
input/
output/
raw-images/
converted-tiles/
processed-mosaics/
index-maps/

# Ignore Git files
.git
.gitignore

# Ignore logs or temp files
*.log
logs/

# Ignore env files with secrets
.env
.env.*

# Ignore temporary or cache files
*.tmp
*.bak
__pycache__/
*.pyc
